***Computing IMDb's ratings***

In [ ]:
import pandas as pd
import numpy as np
import ast

In [4]:
def load_movies_data(url):
    df = pd.read_csv(url, low_memory=False)
    df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
    df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x : ast.literal_eval(x) if pd.notnull(x) else [])
    df['genres'] = df['genres'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
    df['production_companies'] =df['production_companies'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
    df['production_countries'] = df['production_countries'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
    return df

In [5]:
url = "../data/movie/movies_metadata.csv"
df = load_movies_data(url)
df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

The following formula is used to calculate the Top Rated 250 titles. This formula provides a true 'Bayesian estimate', which takes into account the number of votes each title has received, minimum votes required to be on the list, and the mean vote for all titles:

weighted rating (WR) = (v ÷ (v+m)) × R + (m ÷ (v+m)) × C

Where:

R = average for the movie (mean) = (rating)

v = number of votes for the movie = (votes)

m = minimum votes required to be listed in the Top Rated 250 list (currently 25,000)

C = the mean vote across the whole report

In [6]:
m = 1000

In [7]:
c = df['vote_average'].mean()
c

5.618207215134185

In [8]:
def weighted_rating_row(row):
    if row['vote_count']>0:
        v = row['vote_count']
        R = row['vote_average']
        return (v/(v+m) * R) + (m/(v+m) * c)
    else:
        return np.nan

In [9]:
def weighted_rating_df(df):
    rating_list = []
    for i in range(0, len(df)):
        rating = weighted_rating_row(df.iloc[i])
        rating_list.append(rating)
    df['imdb_rating'] = rating_list

In [10]:
weighted_rating_df(df)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,imdb_rating
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.375480
1,False,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.524438
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,5.692497
3,False,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,5.634050
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5.630270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,[],0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,5.616591
45462,False,[],0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,5.628322
45463,False,[],0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,5.607363
45464,False,[],0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,NaN
45465,False,[],0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,NaN

In [11]:
basic_time = %timeit -r 3 -o weighted_rating_df(df)
print("Best time:", basic_time.best)

2.18 s ± 6.33 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 2.1782674790000556

In [12]:
timing_data = {
        'Best single run time (s)': [basic_time.best,np.nan, np.nan, np.nan,np.nan],
        'Marginal performance improvement': [np.nan,np.nan, np.nan, np.nan,np.nan],
        'Performance improvement over basic looping': np.nan,
        'Best single run time (s, teacher)': [12.1,6.13, 0.940, 0.0079,0.00113],
        'Marginal performance improvement (teacher)': [np.nan,'x2.01', 'x6.15', 'x89.4', 'x6.1'],
        'Performance improvement over basic looping (teacher)': [np.nan,'x1.87', 'x12.87', 'x1531','x9307']}

timings = pd.DataFrame(timing_data,index=["Basic looping", "Iterrows looping", "Apply()", "Pandas vectorisation", "NumPy vectorisation"])
timings

,Best single run time (s),Marginal performance improvement,Performance improvement over basic looping,"Best single run time (s, teacher)",Marginal performance improvement (teacher),Performance improvement over basic looping (teacher)
Basic looping,2.178267,NaN,NaN,12.10000,NaN,NaN
Iterrows looping,NaN,NaN,NaN,6.13000,x2.01,x1.87
Apply(),NaN,NaN,NaN,0.94000,x6.15,x12.87
Pandas vectorisation,NaN,NaN,NaN,0.00790,x89.4,x1531
NumPy vectorisation,NaN,NaN,NaN,0.00113,x6.1,x9307

In [16]:
def weighted_rating_iterrows(df):
    m = 100
    c = df['vote_average'].mean()
    df['imdb_rating'] = 0.0
    for index, row in  df.iterrows():
        v = row['vote_count']
        R = row['vote_average']
        weighted_rating = (v / (v + m)) * R + (m / (v + m)) * c
        df.at[index, 'imdb_rating'] = weighted_rating
    return df

In [17]:
weighted_rating_iterrows(df)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,imdb_rating
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.662252
1,False,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.848994
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,6.040733
3,False,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,5.740453
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5.670039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,[],0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,5.602185
45462,False,[],0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,5.716706
45463,False,[],0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,5.515290
45464,False,[],0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,5.618207
45465,False,[],0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,5.618207

In [18]:
iterrows_time = %timeit -r 3 -o weighted_rating_iterrows(df)
print("Best time:", iterrows_time.best)

2.14 s ± 53.7 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 2.090922760000012

In [19]:
def weighted_rating_apply(df):
    c = df['vote_average'].mean()
    m = 100
    def calculate_weighted_rating(row):
        v = row['vote_count']
        R = row['vote_average']
        weighted_rating = (v / (v + m)) * R + (m / (v + m)) * c
        return weighted_rating
    df['imdb_rating'] = df.apply(calculate_weighted_rating, axis=1)
    return df

In [20]:
weighted_rating_apply(df)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,imdb_rating
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.662252
1,False,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.848994
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,6.040733
3,False,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,5.740453
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5.670039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,[],0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,5.602185
45462,False,[],0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,5.716706
45463,False,[],0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,5.515290
45464,False,[],0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,5.618207
45465,False,[],0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,5.618207

In [21]:
apply_time = %timeit -r 3 -o weighted_rating_apply(df)
print("Best time:", apply_time.best)

236 ms ± 4.68 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)
Best time: 0.22892616800004362

In [22]:
def weighted_rating_pandas(df):
    c = df['vote_average'].mean()
    m = 100
    df['imdb_rating_pandas'] = (df['vote_count'] / (df['vote_count'] + m)) * df['vote_average'] + (m / (df['vote_count'] + m)) * c
    return df
weighted_rating_pandas(df)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,imdb_rating,imdb_rating_pandas
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.662252,7.662252
1,False,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.848994,6.848994
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,6.040733,6.040733
3,False,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,5.740453,5.740453
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5.670039,5.670039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,[],0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,5.602185,5.602185
45462,False,[],0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,5.716706,5.716706
45463,False,[],0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,5.515290,5.515290
45464,False,[],0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,5.618207,5.618207
45465,False,[],0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,5.618207,5.618207

In [23]:
pandas_time = %timeit -r 3 -o weighted_rating_pandas(df)
print("Best time:", pandas_time.best)

457 µs ± 3.02 µs per loop (mean ± std. dev. of 3 runs, 1,000 loops each)
Best time: 0.00045365017099993567

In [24]:
import cProfile
cProfile.run('weighted_rating_pandas(df)')

         1655 function calls (1619 primitive calls) in 0.003 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.003    0.003 1134048527.py:1(weighted_rating_pandas)
        1    0.000    0.000    0.003    0.003 <string>:1(<module>)
       10    0.000    0.000    0.000    0.000 __init__.py:33(using_copy_on_write)
        2    0.000    0.000    0.000    0.000 _methods.py:47(_sum)
        1    0.000    0.000    0.000    0.000 _methods.py:55(_any)
       14    0.000    0.000    0.000    0.000 _ufunc_config.py:132(geterr)
       14    0.000    0.000    0.000    0.000 _ufunc_config.py:33(seterr)
        7    0.000    0.000    0.000    0.000 _ufunc_config.py:426(__init__)
        7    0.000    0.000    0.000    0.000 _ufunc_config.py:430(__enter__)
        7    0.000    0.000    0.000    0.000 _ufunc_config.py:435(__exit__)
        1    0.000    0.000    0.000    0.000 _validators.py:226(validate_bool_kwarg)
        7    0.000    0.000    0.001    0.000 array_ops.py:191(_na_arithmetic_op)
        7    0.000    0.000    0.001    0.000 array_ops.py:242(arithmetic_op)
        7    0.000    0.000    0.000    0.000 array_ops.py:509(maybe_prepare_scalar_for_op)
        7    0.000    0.000    0.000    0.000 array_ops.py:590(_bool_arith_check)
        2    0.000    0.000    0.001    0.000 arraylike.py:200(__mul__)
        1    0.000    0.000    0.000    0.000 arraylike.py:208(__truediv__)
        1    0.000    0.000    0.000    0.000 arraylike.py:212(__rtruediv__)
        3    0.000    0.000    0.001    0.000 arraylike.py:98(__add__)
        7    0.000    0.000    0.002    0.000 base.py:1370(_arith_method)
        2    0.000    0.000    0.000    0.000 base.py:363(ndim)
        3    0.000    0.000    0.000    0.000 base.py:3762(get_loc)
        6    0.000    0.000    0.000    0.000 base.py:5299(__contains__)
        4    0.000    0.000    0.000    0.000 base.py:5349(__getitem__)
        3    0.000    0.000    0.000    0.000 base.py:6611(_maybe_cast_indexer)
        1    0.000    0.000    0.000    0.000 base.py:69(shape)
        3    0.000    0.000    0.000    0.000 base.py:71(<genexpr>)
        7    0.000    0.000    0.000    0.000 base.py:73(_validate_set_axis)
       14    0.000    0.000    0.000    0.000 base.py:7512(ensure_index)
        7    0.000    0.000    0.000    0.000 base.py:7607(maybe_extract_name)
        1    0.000    0.000    0.000    0.000 base.py:908(__len__)
        2    0.000    0.000    0.000    0.000 blocks.py:1007(iget)
        8    0.000    0.000    0.000    0.000 blocks.py:2317(maybe_coerce_values)
        8    0.000    0.000    0.000    0.000 blocks.py:2346(get_block_type)
        1    0.000    0.000    0.000    0.000 blocks.py:2375(new_block_2d)
        7    0.000    0.000    0.000    0.000 blocks.py:2388(new_block)
        1    0.000    0.000    0.000    0.000 blocks.py:2483(ensure_block_shape)
        1    0.000    0.000    0.000    0.000 common.py:1025(needs_i8_conversion)
        3    0.000    0.000    0.000    0.000 common.py:103(_maybe_match_name)
        2    0.000    0.000    0.000    0.000 common.py:1255(is_1d_only_ea_dtype)
        4    0.000    0.000    0.000    0.000 common.py:149(cast_scalar_indexer)
       14    0.000    0.000    0.000    0.000 common.py:1562(validate_all_hashable)
       28    0.000    0.000    0.000    0.000 common.py:1581(<genexpr>)
        7    0.000    0.000    0.000    0.000 common.py:1587(pandas_dtype)
        6    0.000    0.000    0.000    0.000 common.py:367(apply_if_callable)
        1    0.000    0.000    0.000    0.000 common.py:514(is_string_or_object_np_dtype)
        7    0.000    0.000    0.000    0.000 common.py:556(require_length_match)
        7    0.000    0.000    0.002    0.000 common.py:62(new_method)
        7    0.000    0.000    0.000    0.000 common.py:81(get_op_result_name)
        7    0.000    0.000    0.000    0.000 config.py:127(_get_single_key)
        7    0.000    0.000    0.000    0.000 config.py:145(_get_option)
        7    0.000    0.000    0.000    0.000 config.py:271(__call__)
        7    0.000    0.000    0.000    0.000 config.py:615(_select_options)
        7    0.000    0.000    0.000    0.000 config.py:633(_get_root)
       14    0.000    0.000    0.000    0.000 config.py:647(_get_deprecated_option)
        7    0.000    0.000    0.000    0.000 config.py:674(_translate_key)
        7    0.000    0.000    0.000    0.000 config.py:686(_warn_if_deprecated)
       14    0.000    0.000    0.000    0.000 construction.py:419(extract_array)
       15    0.000    0.000    0.000    0.000 construction.py:484(ensure_wrapped_if_datetimelike)
        7    0.000    0.000    0.000    0.000 construction.py:518(sanitize_array)
        7    0.000    0.000    0.000    0.000 construction.py:673(_sanitize_ndim)
        7    0.000    0.000    0.000    0.000 construction.py:712(_sanitize_str_dtypes)
        7    0.000    0.000    0.000    0.000 construction.py:732(_maybe_repeat)
        7    0.000    0.000    0.000    0.000 construction.py:743(_try_cast)
        7    0.000    0.000    0.000    0.000 dispatch.py:17(should_extension_dispatch)
        7    0.000    0.000    0.001    0.000 expressions.py:226(evaluate)
        7    0.000    0.000    0.001    0.000 expressions.py:67(_evaluate_standard)
        9    0.000    0.000    0.000    0.000 flags.py:53(__init__)
        9    0.000    0.000    0.000    0.000 flags.py:57(allows_duplicate_labels)
        9    0.000    0.000    0.000    0.000 flags.py:89(allows_duplicate_labels)
        1    0.000    0.000    0.000    0.000 frame.py:12295(_reindex_for_setitem)
        1    0.000    0.000    0.000    0.000 frame.py:1542(__len__)
        2    0.000    0.000    0.000    0.000 frame.py:3779(_ixs)
        5    0.000    0.000    0.000    0.000 frame.py:3856(__getitem__)
        1    0.000    0.000    0.000    0.000 frame.py:4065(__setitem__)
        1    0.000    0.000    0.000    0.000 frame.py:4249(_iset_item_mgr)
        1    0.000    0.000    0.000    0.000 frame.py:4260(_set_item_mgr)
        1    0.000    0.000    0.000    0.000 frame.py:4293(_set_item)
        1    0.000    0.000    0.000    0.000 frame.py:4364(_ensure_valid_index)
        2    0.000    0.000    0.000    0.000 frame.py:4387(_box_col_values)
        1    0.000    0.000    0.000    0.000 frame.py:4402(_clear_item_cache)
        5    0.000    0.000    0.000    0.000 frame.py:4405(_get_item_cache)
        1    0.000    0.000    0.000    0.000 frame.py:5018(_sanitize_column)
        2    0.000    0.000    0.000    0.000 frame.py:653(_sliced_from_mgr)
        2    0.000    0.000    0.000    0.000 frame.py:656(_constructor_sliced_from_mgr)
        1    0.000    0.000    0.000    0.000 function.py:411(validate_func)
        1    0.000    0.000    0.000    0.000 function.py:64(__call__)
        1    0.000    0.000    0.001    0.001 generic.py:11920(_stat_function)
        1    0.000    0.000    0.001    0.001 generic.py:11971(mean)
        9    0.000    0.000    0.000    0.000 generic.py:274(__init__)
        2    0.000    0.000    0.000    0.000 generic.py:335(_from_mgr)
        9    0.000    0.000    0.000    0.000 generic.py:358(attrs)
       40    0.000    0.000    0.000    0.000 generic.py:37(_check)
       18    0.000    0.000    0.000    0.000 generic.py:393(flags)
       40    0.000    0.000    0.000    0.000 generic.py:42(_instancecheck)
        1    0.000    0.000    0.000    0.000 generic.py:4337(_check_setitem_copy)
        7    0.000    0.000    0.000    0.000 generic.py:487(_validate_dtype)
        1    0.000    0.000    0.000    0.000 generic.py:548(_get_axis_number)
        9    0.000    0.000    0.000    0.000 generic.py:6147(__finalize__)
        7    0.000    0.000    0.000    0.000 generic.py:6189(__getattr__)
       22    0.000    0.000    0.000    0.000 generic.py:6206(__setattr__)
        1    0.000    0.000    0.000    0.000 generic.py:638(_info_axis)
        7    0.000    0.000    0.000    0.000 generic.py:760(_set_axis)
        5    0.000    0.000    0.000    0.000 indexing.py:2678(check_dict_or_set_indexers)
        1    0.000    0.000    0.000    0.000 inference.py:273(is_dict_like)
        4    0.000    0.000    0.000    0.000 inference.py:300(<genexpr>)
       26    0.000    0.000    0.000    0.000 inference.py:334(is_hashable)
        1    0.000    0.000    0.000    0.000 managers.py:1045(iset)
        1    0.000    0.000    0.000    0.000 managers.py:1246(_iset_single)
        3    0.000    0.000    0.000    0.000 managers.py:169(blknos)
        9    0.000    0.000    0.000    0.000 managers.py:1799(__init__)
        7    0.000    0.000    0.000    0.000 managers.py:1825(from_array)
        2    0.000    0.000    0.000    0.000 managers.py:185(blklocs)
        9    0.000    0.000    0.000    0.000 managers.py:1902(_block)
       12    0.000    0.000    0.000    0.000 managers.py:1960(internal_values)
        7    0.000    0.000    0.000    0.000 managers.py:225(set_axis)
        2    0.000    0.000    0.000    0.000 managers.py:991(iget)
        1    0.000    0.000    0.000    0.000 missing.py:101(isna)
        7    0.000    0.000    0.000    0.000 missing.py:131(dispatch_fill_zeros)
        1    0.000    0.000    0.000    0.000 missing.py:184(_isna)
        1    0.000    0.000    0.000    0.000 missing.py:261(_isna_array)
        1    0.000    0.000    0.000    0.000 multiarray.py:1131(putmask)
        1    0.000    0.000    0.001    0.001 nanops.py:111(f)
        1    0.000    0.000    0.000    0.000 nanops.py:1450(_get_counts)
        1    0.000    0.000    0.000    0.000 nanops.py:1670(_ensure_numeric)
        1    0.000    0.000    0.000    0.000 nanops.py:187(_get_fill_value)
        1    0.000    0.000    0.000    0.000 nanops.py:209(_maybe_get_mask)
        1    0.000    0.000    0.001    0.001 nanops.py:253(_get_values)
        1    0.000    0.000    0.000    0.000 nanops.py:324(_get_dtype_max)
        1    0.000    0.000    0.000    0.000 nanops.py:336(_na_ok_dtype)
        1    0.000    0.000    0.001    0.001 nanops.py:389(new_func)
        1    0.000    0.000    0.001    0.001 nanops.py:671(nanmean)
        4    0.000    0.000    0.000    0.000 range.py:554(equals)
       31    0.000    0.000    0.000    0.000 range.py:963(__len__)
        1    0.000    0.000    0.000    0.000 roperator.py:26(rtruediv)
        2    0.000    0.000    0.000    0.000 series.py:1372(_set_as_cached)
        7    0.000    0.000    0.000    0.000 series.py:1381(_clear_item_cache)
        7    0.000    0.000    0.001    0.000 series.py:371(__init__)
        7    0.000    0.000    0.000    0.000 series.py:577(_constructor)
        7    0.000    0.000    0.002    0.000 series.py:5813(_arith_method)
        7    0.000    0.000    0.000    0.000 series.py:5817(_align_for_op)
        7    0.000    0.000    0.001    0.000 series.py:5881(_construct_result)
        1    0.000    0.000    0.001    0.001 series.py:6090(_reduce)
        1    0.000    0.000    0.001    0.001 series.py:6213(mean)
       35    0.000    0.000    0.000    0.000 series.py:653(name)
       14    0.000    0.000    0.000    0.000 series.py:703(name)
       12    0.000    0.000    0.000    0.000 series.py:750(_values)
        9    0.000    0.000    0.000    0.000 typing.py:1737(cast)
        2    0.000    0.000    0.000    0.000 {built-in method __new__ of type object at 0x55db2dfe19a0}
        3    0.000    0.000    0.000    0.000 {built-in method _operator.add}
        2    0.000    0.000    0.000    0.000 {built-in method _operator.mul}
        1    0.000    0.000    0.000    0.000 {built-in method _operator.truediv}
       15    0.000    0.000    0.000    0.000 {built-in method builtins.all}
        6    0.000    0.000    0.000    0.000 {built-in method builtins.callable}
        1    0.000    0.000    0.003    0.003 {built-in method builtins.exec}
       84    0.000    0.000    0.000    0.000 {built-in method builtins.getattr}
        9    0.000    0.000    0.000    0.000 {built-in method builtins.hasattr}
       32    0.000    0.000    0.000    0.000 {built-in method builtins.hash}
  346/343    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
       16    0.000    0.000    0.000    0.000 {built-in method builtins.issubclass}
   104/71    0.000    0.000    0.000    0.000 {built-in method builtins.len}
        7    0.000    0.000    0.000    0.000 {built-in method numpy.array}
       28    0.000    0.000    0.000    0.000 {built-in method numpy.geterrobj}
       14    0.000    0.000    0.000    0.000 {built-in method numpy.seterrobj}
        2    0.000    0.000    0.000    0.000 {built-in method pandas._libs.missing.is_matching_na}
        1    0.000    0.000    0.000    0.000 {method 'any' of 'numpy.ndarray' objects}
        1    0.000    0.000    0.000    0.000 {method 'clear' of 'dict' objects}
        2    0.000    0.000    0.000    0.000 {method 'copy' of 'numpy.ndarray' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}
        5    0.000    0.000    0.000    0.000 {method 'get' of 'dict' objects}
        3    0.000    0.000    0.000    0.000 {method 'get_loc' of 'pandas._libs.index.IndexEngine' objects}
        3    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}
        1    0.000    0.000    0.000    0.000 {method 'reshape' of 'numpy.ndarray' objects}
        7    0.000    0.000    0.000    0.000 {method 'split' of 'str' objects}
        2    0.000    0.000    0.000    0.000 {method 'sum' of 'numpy.ndarray' objects}
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_bool}
        5    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_float}
        5    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_integer}
        5    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_iterator}
       15    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_list_like}
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_scalar}
       12    0.000    0.000    0.000    0.000 {pandas._libs.lib.item_from_zerodim}

In [25]:
def weighted_rating_numpy(df):
    c = df['vote_average'].mean()
    m = 100
    vote_count = df['vote_count'].values
    vote_average = df['vote_average'].values
    imdb_ratings_numpy = (vote_count / (vote_count + m)) * vote_average + (m / (vote_count + m)) * c
    df['imdb_ratings_numpy'] = imdb_ratings_numpy
    return df

In [26]:
weighted_rating_numpy(df)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imdb_rating,imdb_rating_pandas,imdb_ratings_numpy
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.662252,7.662252,7.662252
1,False,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.848994,6.848994,6.848994
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,6.040733,6.040733,6.040733
3,False,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,5.740453,5.740453,5.740453
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5.670039,5.670039,5.670039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,[],0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,5.602185,5.602185,5.602185
45462,False,[],0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,5.716706,5.716706,5.716706
45463,False,[],0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,5.515290,5.515290,5.515290
45464,False,[],0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,[],Released,NaN,Satan Triumphant,False,0.0,0.0,5.618207,5.618207,5.618207
45465,False,[],0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,5.618207,5.618207,5.618207

In [27]:
numpy_time = %timeit -r 3 -o weighted_rating_numpy(df)
print("Best time:", numpy_time.best)

244 µs ± 4.84 µs per loop (mean ± std. dev. of 3 runs, 1,000 loops each)
Best time: 0.00023805310999978245

In [28]:
cProfile.run('weighted_rating_numpy(df)')

         312 function calls (306 primitive calls) in 0.008 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.006    0.006    0.008    0.008 1735084185.py:1(weighted_rating_numpy)
        1    0.000    0.000    0.008    0.008 <string>:1(<module>)
        9    0.000    0.000    0.000    0.000 __init__.py:33(using_copy_on_write)
        2    0.000    0.000    0.000    0.000 _methods.py:47(_sum)
        1    0.000    0.000    0.000    0.000 _methods.py:55(_any)
        1    0.000    0.000    0.000    0.000 _validators.py:226(validate_bool_kwarg)
        3    0.000    0.000    0.000    0.000 base.py:3762(get_loc)
        4    0.000    0.000    0.000    0.000 base.py:5299(__contains__)
        4    0.000    0.000    0.000    0.000 base.py:5349(__getitem__)
        3    0.000    0.000    0.000    0.000 base.py:6611(_maybe_cast_indexer)
        1    0.000    0.000    0.000    0.000 base.py:69(shape)
        3    0.000    0.000    0.000    0.000 base.py:71(<genexpr>)
        1    0.000    0.000    0.000    0.000 base.py:908(__len__)
        2    0.000    0.000    0.000    0.000 blocks.py:1007(iget)
        2    0.000    0.000    0.000    0.000 blocks.py:222(external_values)
        1    0.000    0.000    0.000    0.000 blocks.py:2317(maybe_coerce_values)
        1    0.000    0.000    0.000    0.000 blocks.py:2346(get_block_type)
        1    0.000    0.000    0.000    0.000 blocks.py:2375(new_block_2d)
        1    0.000    0.000    0.000    0.000 blocks.py:2483(ensure_block_shape)
        2    0.000    0.000    0.000    0.000 blocks.py:2586(external_values)
        1    0.000    0.000    0.000    0.000 common.py:1025(needs_i8_conversion)
        2    0.000    0.000    0.000    0.000 common.py:1255(is_1d_only_ea_dtype)
        4    0.000    0.000    0.000    0.000 common.py:149(cast_scalar_indexer)
        4    0.000    0.000    0.000    0.000 common.py:367(apply_if_callable)
        1    0.000    0.000    0.000    0.000 common.py:514(is_string_or_object_np_dtype)
        1    0.000    0.000    0.000    0.000 common.py:556(require_length_match)
        1    0.000    0.000    0.000    0.000 construction.py:419(extract_array)
        1    0.000    0.000    0.000    0.000 construction.py:484(ensure_wrapped_if_datetimelike)
        1    0.000    0.000    0.000    0.000 construction.py:518(sanitize_array)
        1    0.000    0.000    0.000    0.000 construction.py:673(_sanitize_ndim)
        1    0.000    0.000    0.000    0.000 construction.py:712(_sanitize_str_dtypes)
        1    0.000    0.000    0.000    0.000 construction.py:732(_maybe_repeat)
        2    0.000    0.000    0.000    0.000 flags.py:53(__init__)
        2    0.000    0.000    0.000    0.000 flags.py:57(allows_duplicate_labels)
        2    0.000    0.000    0.000    0.000 flags.py:89(allows_duplicate_labels)
        1    0.000    0.000    0.000    0.000 frame.py:1542(__len__)
        2    0.000    0.000    0.000    0.000 frame.py:3779(_ixs)
        3    0.000    0.000    0.000    0.000 frame.py:3856(__getitem__)
        1    0.000    0.000    0.001    0.001 frame.py:4065(__setitem__)
        1    0.000    0.000    0.000    0.000 frame.py:4249(_iset_item_mgr)
        1    0.000    0.000    0.000    0.000 frame.py:4260(_set_item_mgr)
        1    0.000    0.000    0.001    0.001 frame.py:4293(_set_item)
        1    0.000    0.000    0.000    0.000 frame.py:4364(_ensure_valid_index)
        2    0.000    0.000    0.000    0.000 frame.py:4387(_box_col_values)
        1    0.000    0.000    0.000    0.000 frame.py:4402(_clear_item_cache)
        3    0.000    0.000    0.000    0.000 frame.py:4405(_get_item_cache)
        1    0.000    0.000    0.000    0.000 frame.py:5018(_sanitize_column)
        2    0.000    0.000    0.000    0.000 frame.py:653(_sliced_from_mgr)
        2    0.000    0.000    0.000    0.000 frame.py:656(_constructor_sliced_from_mgr)
        1    0.000    0.000    0.000    0.000 function.py:411(validate_func)
        1    0.000    0.000    0.000    0.000 function.py:64(__call__)
        1    0.000    0.000    0.001    0.001 generic.py:11920(_stat_function)
        1    0.000    0.000    0.001    0.001 generic.py:11971(mean)
        2    0.000    0.000    0.000    0.000 generic.py:274(__init__)
        2    0.000    0.000    0.000    0.000 generic.py:335(_from_mgr)
        2    0.000    0.000    0.000    0.000 generic.py:358(attrs)
        2    0.000    0.000    0.000    0.000 generic.py:37(_check)
        4    0.000    0.000    0.000    0.000 generic.py:393(flags)
        2    0.000    0.000    0.000    0.000 generic.py:42(_instancecheck)
        1    0.000    0.000    0.000    0.000 generic.py:4337(_check_setitem_copy)
        1    0.000    0.000    0.000    0.000 generic.py:548(_get_axis_number)
        2    0.000    0.000    0.000    0.000 generic.py:6147(__finalize__)
        8    0.000    0.000    0.000    0.000 generic.py:6206(__setattr__)
        1    0.000    0.000    0.000    0.000 generic.py:638(_info_axis)
        3    0.000    0.000    0.000    0.000 indexing.py:2678(check_dict_or_set_indexers)
        1    0.000    0.000    0.000    0.000 inference.py:273(is_dict_like)
        3    0.000    0.000    0.000    0.000 inference.py:300(<genexpr>)
        3    0.000    0.000    0.000    0.000 inference.py:334(is_hashable)
        1    0.000    0.000    0.000    0.000 managers.py:1045(iset)
        1    0.000    0.000    0.000    0.000 managers.py:1246(_iset_single)
        3    0.000    0.000    0.000    0.000 managers.py:169(blknos)
        2    0.000    0.000    0.000    0.000 managers.py:1799(__init__)
        2    0.000    0.000    0.000    0.000 managers.py:185(blklocs)
        2    0.000    0.000    0.000    0.000 managers.py:1902(_block)
        2    0.000    0.000    0.000    0.000 managers.py:1956(external_values)
        1    0.000    0.000    0.000    0.000 managers.py:1960(internal_values)
        2    0.000    0.000    0.000    0.000 managers.py:991(iget)
        1    0.000    0.000    0.000    0.000 missing.py:101(isna)
        1    0.000    0.000    0.000    0.000 missing.py:184(_isna)
        1    0.000    0.000    0.000    0.000 missing.py:261(_isna_array)
        1    0.000    0.000    0.000    0.000 multiarray.py:1131(putmask)
        1    0.000    0.000    0.001    0.001 nanops.py:111(f)
        1    0.000    0.000    0.000    0.000 nanops.py:1450(_get_counts)
        1    0.000    0.000    0.000    0.000 nanops.py:1670(_ensure_numeric)
        1    0.000    0.000    0.000    0.000 nanops.py:187(_get_fill_value)
        1    0.000    0.000    0.000    0.000 nanops.py:209(_maybe_get_mask)
        1    0.000    0.000    0.001    0.001 nanops.py:253(_get_values)
        1    0.000    0.000    0.000    0.000 nanops.py:324(_get_dtype_max)
        1    0.000    0.000    0.000    0.000 nanops.py:336(_na_ok_dtype)
        1    0.000    0.000    0.001    0.001 nanops.py:389(new_func)
        1    0.000    0.000    0.001    0.001 nanops.py:671(nanmean)
        4    0.000    0.000    0.000    0.000 range.py:963(__len__)
        2    0.000    0.000    0.000    0.000 series.py:1372(_set_as_cached)
        1    0.000    0.000    0.001    0.001 series.py:6090(_reduce)
        1    0.000    0.000    0.001    0.001 series.py:6213(mean)
        2    0.000    0.000    0.000    0.000 series.py:708(values)
        1    0.000    0.000    0.000    0.000 series.py:750(_values)
        3    0.000    0.000    0.000    0.000 typing.py:1737(cast)
        2    0.000    0.000    0.000    0.000 {built-in method __new__ of type object at 0x55db2dfe19a0}
        1    0.000    0.000    0.000    0.000 {built-in method builtins.all}
        4    0.000    0.000    0.000    0.000 {built-in method builtins.callable}
        1    0.000    0.000    0.008    0.008 {built-in method builtins.exec}
        6    0.000    0.000    0.000    0.000 {built-in method builtins.getattr}
        2    0.000    0.000    0.000    0.000 {built-in method builtins.hasattr}
        7    0.000    0.000    0.000    0.000 {built-in method builtins.hash}
       55    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        3    0.000    0.000    0.000    0.000 {built-in method builtins.issubclass}
    17/11    0.000    0.000    0.000    0.000 {built-in method builtins.len}
        1    0.000    0.000    0.000    0.000 {method 'any' of 'numpy.ndarray' objects}
        1    0.000    0.000    0.000    0.000 {method 'clear' of 'dict' objects}
        2    0.000    0.000    0.000    0.000 {method 'copy' of 'numpy.ndarray' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}
        3    0.000    0.000    0.000    0.000 {method 'get' of 'dict' objects}
        3    0.000    0.000    0.000    0.000 {method 'get_loc' of 'pandas._libs.index.IndexEngine' objects}
        3    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}
        1    0.000    0.000    0.000    0.000 {method 'reshape' of 'numpy.ndarray' objects}
        2    0.000    0.000    0.000    0.000 {method 'sum' of 'numpy.ndarray' objects}
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_bool}
        5    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_float}
        5    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_integer}
        3    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_iterator}
        3    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_list_like}
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.is_scalar}
        3    0.000    0.000    0.000    0.000 {pandas._libs.lib.item_from_zerodim}

In [29]:
top_25_movies = df.sort_values(by='imdb_ratings_numpy', ascending=False).head(25)
print(top_25_movies[['title', 'imdb_ratings_numpy']])

                                 title  imdb_ratings_numpy
10309      Dilwale Dulhania Le Jayenge            8.642471
314           The Shawshank Redemption            8.465928
834                      The Godfather            8.452943
12481                  The Dark Knight            8.278318
2843                        Fight Club            8.272573
292                       Pulp Fiction            8.269421
40251                       Your Name.            8.244974
522                   Schindler's List            8.240878
23673                         Whiplash            8.240085
5481                     Spirited Away            8.234076
2211                 Life Is Beautiful            8.228352
1178            The Godfather: Part II            8.223769
1152   One Flew Over the Cuckoo's Nest            8.213518
1176                            Psycho            8.192942
351                       Forrest Gump            8.168694
1154           The Empire Strikes Back            8.157662
18465                 The Intouchables            8.153144
289             Leon: The Professional            8.141229
3030                    The Green Mile            8.139480
1170                        GoodFellas            8.122024
2216                American History X            8.119820
1161                      12 Angry Men            8.084225
15480                        Inception            8.082492
9698              Howl's Moving Castle            8.079861
2884                 Princess Mononoke            8.079412