***Loading, preprocessing and cleaning the data***

In [ ]:
import pandas as pd
import ast

In [50]:
def load_movies_data(url):
    df = pd.read_csv(url, low_memory=False)
    df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
    df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x : ast.literal_eval(x) if pd.notnull(x) else [])
    df['genres'] = df['genres'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
    df['production_companies'] =df['production_companies'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
    df['production_countries'] = df['production_countries'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
    return df

In [51]:
url = "../data/movie/movies_metadata.csv"
df = load_movies_data(url)
print(df['release_date'][0])

1995-10-30 00:00:00

In [52]:
df.shape

(45466, 24)

In [53]:
df.genres[0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [54]:
df.genres[0][0]

{'id': 16, 'name': 'Animation'}

In [55]:
df.release_date

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45466, dtype: datetime64[ns]

In [56]:
load_time = %timeit -o -r 3 -n 1 -q load_movies_data(url)
print("Time (s):", load_time.best)

Time (s): 1.8447527589996753

In [61]:
df = df[df['adult'] == 'False']

In [63]:
df.head(5)

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [64]:
df.dropna(subset=['vote_count','vote_average'])

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]